{%extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!doctype html>
{% block html %}
<head>
	{% block title %} System klasyfikacji komentarzy {% endblock title %}
	{% block favicon %}<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">{% endblock %}
</head>
{% endblock html %}

{% block content %}
<h2 class="text-center">Wpisz swój komentarz</h2>

{% from "_formhelpers.html" import render_field %}
<div class="container">
<form method=post action="/results">
  <dl>
	{{ wtf.form_field(form.moviereview, cols='30', rows='10') }}
  </dl>
  <div>
	  <input class ="btn btn-info" type=submit value='Prześlij komentarz' name='submit_btn'>
  </div>
</form>
</div>
{% endblock content %}
