{%extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!doctype html>
{% block head %}
<link rel="shorcut icon" href="/favicon.ico">
{% block title %}
System klasyfikacji komentarzy
{% endblock title %}
{% endblock head %}

{% block content %}
<h2 class="text-center">Wpisz swój komentarz</h2>

{% from "_formhelpers.html" import render_field %}
<div class="container">
<form method=post action="/results">
  <dl>
	{{ wtf.form_field(form.moviereview, cols='30', rows='10') }}
  </dl>
  <div>
	  <input class ="btn btn-info" type=submit value='Prześlij komentarz' name='submit_btn'>
  </div>
</form>
</div>
{% endblock %}
